﻿.req {
    color: red;
}

.not-alert .alert.alert-info {
    display: none;
}

.errors-validate button {
    margin: -5px -7px 0 0;
}

.errors-validate ul li p {
    margin: 0;
    padding: 2px;
}

.has-error .btn {
    border-color: #a94442;
}

.has-info .form-control,
.has-info.checkbox3 label:before,
.has-info .btn {
    border-color: #7eb9e4;
}

.has-error .ui-select-container a.btn,
.has-info .ui-select-container a.btn {
    border-color: transparent;
}

.has-info.checkbox3 label:before,
.has-info .form-control {
    background: #fcfdfe;
}
