﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-wpforms"></i>
            Teste de Validação de Formulário
        </h3>
    </div>
    <div class="panel-body">
        <form name="vm.form" ng-submit="vm.submitForm()" novalidate model="vm.model" ngf-validate>
            <div class="form-group row">
                <div class="col-md-6">
                    <label id="nome" for="nome" class="control-label">Nome:</label>
                    <input type="text" name="nome" id="nome" ng-model="vm.model.Nome" class="form-control" required />
                </div>
                <div class="col-md-6">
                    <div class="well well-sm well-example">
                        Campo Obrigatório
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label id="sobrenome" for="sobrenome" class="control-label">Sobrenome:</label>
                    <input type="text" name="sobrenome" id="sobrenome" ng-model="vm.model.Sobrenome" class="form-control" ng-required="vm.model.Nome" />
                </div>
                <div class="col-md-6">
                    <div class="well well-sm well-example">
                        Campo Obrigatório Se "Nome" Preenchido
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label id="cpf" for="cpf" class="control-label">CPF:</label>
                    <input type="text" name="cpf" id="cpf" ng-model="vm.model.CPF" ngf-mask="cpf" class="form-control" required validator="cpf" />
                </div>
                <div class="col-md-6">
                    <div class="well well-sm well-example">
                        Valida CPF
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label id="cnpj" for="cnpj" class="control-label">CNPJ:</label>
                    <input type="text" name="cnpj" id="cnpj" ng-model="vm.model.CNPJ" ngf-mask="cnpj" class="form-control" required validator="cnpj" />
                </div>
                <div class="col-md-6">
                    <div class="well well-sm well-example">
                        Valida CNPJ
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label id="email" for="email" class="control-label">Email:</label>
                    <input type="text" name="email" id="email" ng-model="vm.model.Email" class="form-control" required validator="email" />
                </div>
                <div class="col-md-6">
                    <div class="well well-sm well-example">
                        Valida E-mail
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label id="data" for="data" class="control-label">Data: (dd/mm/aaaa)</label>
                    <input type="text" name="data" id="data" ng-model="vm.model.Date" ngf-mask="data" class="form-control" required validator="date" />
                </div>
                <div class="col-md-6">
                    <div class="well well-sm well-example">
                        Valida Data
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label id="data" for="data" class="control-label">Data Hora: (dd/mm/aaaa hh:mm:ss)</label>
                    <input type="text" name="data" id="data" ng-model="vm.model.DataHora" ngf-mask="datahora" class="form-control" required validator="dateTime" />
                </div>
                <div class="col-md-6">
                    <div class="well well-sm well-example">
                        Valida Data Hora
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label id="hora" for="hora" class="control-label">Hora: (hh:mm)</label>
                    <input type="text" name="hora" id="hora" ng-model="vm.model.Hora" ngf-mask="hora" class="form-control" required validator="time" />
                </div>
                <div class="col-md-6">
                    <div class="well well-sm well-example">
                        Valida Hora
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label id="mesano" for="mesano" class="control-label">Período: (mm/aaaa)</label>
                    <input type="text" name="mesano" id="mesano" ng-model="vm.model.MesAno" ngf-mask="mesano" class="form-control" required validator="mesAno" />
                </div>
                <div class="col-md-6">
                    <div class="well well-sm well-example">
                        Valida Período Mês/Ano
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label id="numero" for="numero" class="control-label">Número:</label>
                    <input type="text" name="numero" id="numero"
                           ng-model="vm.model.Numero"
                           min-value="10"
                           max-value="20"
                           class="form-control" ngf-mask="numerico" required validator="number" />
                </div>
                <div class="col-md-6">
                    <div class="well well-sm well-example">
                        Valida número (Número, Valor Mínimo/Máximo)
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label id="numero" for="numero" class="control-label">URL:</label>
                    <input type="text" name="url" id="numero" ng-model="vm.model.URL" class="form-control" required validator="url" />
                </div>
                <div class="col-md-6">
                    <div class="well well-sm well-example">
                        Valida URL
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label id="textarea" for="textarea" class="control-label">Campo de texto:</label>
                    <textarea name="textarea" id="textarea" class="form-control"
                              ng-model="vm.model.TextArea"
                              ng-minlength="5"
                              ng-maxlength="10"
                              required></textarea>
                </div>
                <div class="col-md-6">
                    <div class="well well-sm well-example">
                        Valida TextArea (Obrigatório, Tamanho Mínimo/Máximo)
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label class="control-label">Campo Rádio:</label>
                    <div>
                        <div class="radio3 radio-primary radio-inline radio-check">
                            <input type="radio" id="radio1" ng-model="vm.model.Radio" name="radio" value="1" required>
                            <label for="radio1">
                                Opção 1
                            </label>
                        </div>
                        <div class="radio3 radio-primary radio-inline radio-check">
                            <input type="radio" id="radio2" ng-model="vm.model.Radio" name="radio" value="2" required>
                            <label for="radio2">
                                Opção 2
                            </label>
                        </div>
                        <div class="radio3 radio-primary radio-inline radio-check">
                            <input type="radio" id="radio3" ng-model="vm.model.Radio" name="radio" value="3" required>
                            <label for="radio3">
                                Opção 3
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well well-sm well-example">
                        Valida Rádio Button
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <!--<label for="checkboxAll" class="control-label">Campo de Checkbox:</label>
                    <div>
                        <div class="checkbox3 checkbox-primary checkbox-check">
                            <input type="checkbox"
                                   id="checkboxAll"
                                   ng-model="vm.isCheckAll"
                                   ng-change="vm.toggleCheckAll()"
                                   check-all="true"
                                   name="checkbox">
                            <label for="checkboxAll">
                                MARCAR TODOS
                            </label>
                        </div>

                        <div class="checkbox3 checkbox-primary checkbox-check" ng-repeat="item in vm.listCheckbox">
                            <input type="checkbox" id="checkbox{{$index}}"
                                   ng-change="vm.validCheckAll()"
                                   ng-model="item.selected"
                                   name="checkbox"
                                   min-selected="1"
                                   max-selected="2">
                            <label for="checkbox{{$index}}">
                                {{ item.Nome }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well well-sm well-example">
                        Valida Checkbox (Com "Marcar todos", quantidade Mínima e Máxima)
                    </div>
                </div> -->
                            
                <div class="form-group col-sm-12 checkbox3 checkbox-center checkbox-primary checkbox-sm">
                    <div>
                        <input type="checkbox"
                               id="chkEntidadeOrigem-0"
                               ng-model="vm.lists.FiltroEntidadeOrigem.checkAll"
                               ng-click="vm.selecionaTudo(vm.lists.FiltroEntidadeOrigem)"
                               value="0">
                        <label for="chkEntidadeOrigem-0" class="control-label">
                            <b>MARCAR TODOS</b>
                        </label>
                    </div>

                    <div ng-repeat="item in vm.lists.FiltroEntidadeOrigem.lista">
                        <input type="checkbox"
                               ng-model="item.checked"
                               ng-change="vm.selecionaCheckbox(vm.lists.FiltroEntidadeOrigem.lista)"
                               id="chkEntidadeOrigem-{{item.Id}}"
                               name="chkEntidadeOrigem{{item.Id}}">
                        <label for="chkEntidadeOrigem-{{item.Id}}" class="control-label">
                            {{item.Descricao | uppercase}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label class="control-label" for="custom">Validação customizada:</label>
                    <input type="text" name="custom" id="custom" ng-model="vm.model.Custom" class="form-control"
                           required
                           validator="custom"
                           condition="vm.customValidate"
                           message="Essa mensagem é customizada!" />
                </div>
                <div class="col-md-6">
                    <div class="well well-sm well-example">
                        Validação customizada
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i>
                    Salvar Informações [Submit]
                </button>

                <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid">
                    <i class="fa fa-check"></i>
                    Salvar Informações [Disabled]
                </button>

                <button type="button" class="btn btn-default">
                    <i class="fa fa-close"></i>
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>
